@using SportWave.ViewModels.CheckoutViewModels
@model PayInCashViewModel
@{
    ViewBag.Title = "Address";
}

<h2 class="text-center textColor">@ViewBag.Title</h2>
<hr class="hrStyle" />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 textColor">
        <form asp-action="Order" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Country" class="form-label">Country</label>
                <input asp-for="@Model.Country" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Country" class="textColor"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Town" class="form-label">Town</label>
                <input asp-for="@Model.Town" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Town" class="textColor"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StreetName" class="form-label">Street Name</label>
                <input asp-for="@Model.StreetName" class="form-control" aria-required="true" />
                <span asp-validation-for="StreetName" class="textColor"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StreetNumber" class="form-label">Street Number</label>
                <input type="number" asp-for="@Model.StreetNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.StreetNumber" class="textColor"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.AdditionalInfo" class="form-label">Additional info</label>
                <textarea asp-for="@Model.AdditionalInfo" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="@Model.AdditionalInfo" class="textColor"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-danger buttonColor" type="submit" value="Order" />
                @if(Model.Msg != null)
                {
                    <label class="textColor">@Model.Msg</label>
                }
            </div>
        </form>
    </div>
</div>