@using SportWave.ViewModels.MenAndWomenViewModels
@model AllProductsViewModel

@{
    ViewBag.Title = "Men";
}

<h1 class="text-center textColor">@ViewBag.Title</h1>
<p class="text-center textColor">Welcome to the male section.</p>
<hr class="hrStyle" />

<div class="row">
    <form asp-action="Men" method="post">
        <div class="mb-3 textColor">
            <label asp-for="@Model.CategoryId" class="form-label">Filter by Category</label>
            <select asp-for="@Model.CategoryId" class="form-control">
                @foreach (var category in @Model.Categories)
                {
                    <option value="@category.Id">@category.Category</option>
                }
            </select>
            <span asp-validation-for="@Model.CategoryId" class="textColor"></span>
        </div>
        <div class="mb-3">
            <input class="btn btn-danger buttonColor" type="submit" value="Filter" />
        </div>
    </form>

    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImageUrl" alt="Product Image" style="width: 100%; height: 280px;">
                <div class="card-body text-center">
                    <h4>@product.Name</h4>
                    <h6>Color: <b>@product.Color</b></h6>
                    <h6>Price: <b>@product.Price $</b></h6>
                        <a class="w-100 btn btn-lg btn-danger buttonColor" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                            Details
                        </a>
                    <br />
                </div>
            </div>
        </div>
    }
</div>

