@using SportWave.ViewModels.ShoppingCart
@model ShoppingCartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}

<h1 class="text-center textColor">@ViewBag.Title</h1>
<h5 class="text-center textColor"> Total Price: <b>@Math.Round(Model.TotalPrice, 2) $</b></h5>

@if (Model.ProductsInCart.Count() > 0)
{
    <a class="w-50 btn btn-lg btn-danger buttonColor my-1" style="margin-left: 25%" asp-area="" asp-controller="Checkout" asp-action="PayInCash">
        Pay in cash
    </a>
    <a class="w-50 btn btn-lg btn-danger buttonColor my-1" style="margin-left: 25%" asp-area="" asp-controller="Checkout" asp-action="PayWithCard">
        Pay with card
    </a>
    @if (!Model.HasPromo)
    {
        <a class="w-50 btn btn-lg btn-danger buttonColor my-1" style="margin-left: 25%" asp-area="" asp-controller="ShoppingCart" asp-action="AddPromoCode">
            Add Promo Code
        </a>
    }
    else
    {
        <a class="w-50 btn btn-lg btn-danger buttonColor my-1" style="margin-left: 25%" asp-area="" asp-controller="ShoppingCart" asp-action="RemovePromoCode">
            Clear Promo Code
        </a>
    }

}




<hr class="hrStyle" />

<div class="row">

    @foreach (var product in Model.ProductsInCart)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImgUrl" alt="Product Image" style="width: 100%; height: 280px;">
                <div class="card-body text-center">
                    <h4>@product.Name</h4>
                    <h6>Category: <b>@product.Category</b></h6>
                    <h6>Color: <b>@product.Color</b></h6>
                    <h6>Quantity: <b>@product.Quantity</b></h6>
                    <h6>Size: <b>@product.Size</b> </h6>
                    <h6>Price: <b>@Math.Round(product.TotalPrice, 2) $</b></h6>
                    @if (product.TotalPriceWithPromo > 0)
                    {
                        <h6>Price with code: <b>@Math.Round(product.TotalPriceWithPromo, 2) $</b></h6>
                    }


                    <div>
                        <div class="d-inline-block">
                            <a class="w-30 btn btn-lg btn-danger buttonColor my-1 mx-4" asp-area="" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id">
                                +
                            </a>
                        </div>
                        @if (product.Quantity > 1)
                        {
                            <div class="d-inline-block">
                                <a class="w-30 btn btn-lg btn-danger buttonColor my-1 mx-4" asp-area="" asp-controller="ShoppingCart" asp-action="Subtract" asp-route-id="@product.Id">
                                    -
                                </a>
                            </div>
                        }
                    </div>
                    <a class="w-50 btn btn-lg btn-danger buttonColor my-1" asp-area="" asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@product.Id">
                        Remove
                    </a>
                </div>
            </div>
        </div>
    }
</div>