@{
    ViewBag.Title = "Orders";
}

<h1 class="text-center textColor">@ViewBag.Title</h1>
<p class="text-center textColor">Here you can see your orders.</p>
<hr class="hrStyle" />

<div class="row">
    @if (Model.Orders.Count > 0)
    {
        @foreach (var order in Model.Orders)
        {
            @if (order.Status != "Shipped")
            {
                <div class="col-md-4">
                    <div class="card mb-3">

                        <div class="card-body text-center">
                            <h6>Date: @order.DateOfOrder</h6>
                            <h4>Address</h4>
                            <h6>Country: <b>@order.Coutnry</b></h6>
                            <h6>Street Name: <b>@order.StreetName</b></h6>
                            <h6>Street Number: <b>@order.StreetNumber</b></h6>
                            @if (order.AdditionalInfo != null)
                            {
                                <h6>Additional info: <b>@order.AdditionalInfo</b></h6>
                            }

                            <h6>Status: <b>@order.Status</b></h6>
                            <h6>Order total: <b>@Math.Round(order.OrderTotal, 2) $</b></h6>
                            <h4>Products</h4>
                            @foreach (var product in Model.OrderProducts)
                            {
                                if (order.Id == product.OrderId)
                                {
                                    <img class="card-img-top" src="@product.ImgUrl" alt="Product Image" style="width: 50%; height: 140px;">
                                    <h6>Name: <b>@product.Name</b></h6>
                                    <h6>Category: <b>@product.Category</b></h6>
                                    <h6>Color: <b>@product.Color</b></h6>
                                    <h6>Size: <b>@product.Size</b></h6>
                                    <h6>Quantity: <b>@product.Quantity</b></h6>
                                }
                            }
                            @if (order.Status == "On the way")
                            {
                                <a class="w-100 btn btn-lg btn-danger buttonColor" asp-area="" asp-controller="Order" asp-action="MarkAsShipped" asp-route-id="@order.Id">
                                    Mark as shipped
                            </a>
                        }
                        <br />
                    </div>
                </div>
            </div>
            }
        }
    }
    else
    {
        <h2 class="textColor">No orders placed.</h2>
    }
</div>